{{- $page := .page }}
{{- $btnClass := $page.Site.Params.btnClass }}
{{- $modalContentClass := $page.Site.Params.modalContentClass }}
<div id="gameSetupCorrespondence" class="w3-modal">
	<div class="{{ $modalContentClass }} w3-center">
		<div class="w3-container">
			<label for="gameSetupCorrespDays">
				Days: <span id="gameSetupCorrespDaysValue">3</span>
			</label>
			<input type="range" id="gameSetupCorrespDays" style="width:90%"
				min="1" max="14" step="1" value="3">
		</div>
		<div class="w3-container w3-bar">
			<button class="{{ $btnClass }} w3-bar-item" style="margin:2px"
				onclick="Clvq.w3HideModal('gameSetupCorrespondence')">Cancel</button>
			<button class="{{ $btnClass }} w3-bar-item" style="margin:2px"
				onclick="gameSetupCorrespondence()">Start</button>
		</div>
	</div>
</div>
<script>
	const daysSlider = document.getElementById('gameSetupCorrespDays');
	const daysValue = document.getElementById('gameSetupCorrespDaysValue');
	daysSlider.addEventListener('input', () => {
		daysValue.textContent = daysSlider.value;
	});
	function gameSetupCorrespondence() {
		const days = parseInt(daysSlider.value);
		console.debug('Game setup correspondence:', days, 'days');
		Clvq.w3HideModal('gameSetupCorrespondence');
		Clvq.gameSetupCorrespondence(days);
	}
</script>
