{{- $page := .page }}
{{- $btnClass := $page.Site.Params.btnClass }}
{{- $modalContentClass := $page.Site.Params.modalContentClass }}
<div id="gameHistoryModal" class="w3-modal">
	<div class="{{ $modalContentClass }}">
		<div class="w3-bar w3-black clvq-bg">
			<span class="w3-bar-item w3-text-white w3-large">Game History</span>
			<button class="w3-bar-item w3-button w3-right"
				onclick="Clvq.w3HideModal('gameHistoryModal')"
				aria-label="Close">&#10005;</button>
		</div>
		<div class="w3-container w3-padding-small">
			<button class="{{ $btnClass }}"
				onclick="Clvq.loadLichessHistory()">
				Load from Lichess
			</button>
		</div>
		<div id="gameHistoryList" class="w3-container w3-padding-small">
			<p class="w3-text-grey">No games yet.</p>
		</div>
	</div>
</div>
