{{- $page := .page }}
{{- $btnClass := $page.Site.Params.btnClass }}
{{- $modalContentClass := $page.Site.Params.modalContentClass }}
{{- partial "modal/game-setup-correspondence.html" (dict "page" $page) }}
<div id="gameSetupCustom" class="w3-modal w3-hide">
	<div class="{{ $modalContentClass }} w3-center">
		<div class="w3-container">
			<label for="gameSetupCustomTime">
				Time: <span id="gameSetupCustomTimeValue">15</span> minutes.
			</label>
			<input type="range" id="gameSetupCustomTime" style="width:90%"
				min="0" max="120" step="1" value="15">
		</div>
		<div class="w3-container">
			<label for="gameSetupCustomIncrement">
				Increment: <span id="gameSetupCustomIncrementValue">10</span> seconds.
			</label>
			<input type="range" id="gameSetupCustomIncrement" style="width:90%"
				min="0" max="120" step="1" value="10">
		</div>
		<div class="w3-container w3-bar">
			<button class="{{ $btnClass }} w3-bar-item" style="margin:2px"
				onclick="showSetupCorrespondence()">Correspondence</button>
		</div>
		<div class="w3-container w3-bar">
			<button class="{{ $btnClass }} w3-bar-item" style="margin:2px"
				onclick="Clvq.w3HideModal('gameSetupCustom')">Cancel</button>
			<button class="{{ $btnClass }} w3-bar-item" style="margin:2px"
				onclick="gameSetupCustom()">Start</button>
		</div>
	</div>
</div>
<script>
	const timeSlider = document.getElementById('gameSetupCustomTime');
	const timeValue = document.getElementById('gameSetupCustomTimeValue');
	timeSlider.addEventListener('input', () => {
		timeValue.textContent = timeSlider.value;
	});
	const incrementSlider = document.getElementById('gameSetupCustomIncrement');
	const incrementValue = document.getElementById('gameSetupCustomIncrementValue');
	incrementSlider.addEventListener('input', () => {
		incrementValue.textContent = incrementSlider.value;
	});
	function gameSetupCustom() {
		const time = parseInt(timeSlider.value);
		const increment = parseInt(incrementSlider.value);
		console.debug('Game setup custom:', time, increment);
		Clvq.w3HideModal('gameSetupCustom');
		Clvq.gameSetup(time, increment);
	}
	function showSetupCorrespondence() {
		Clvq.w3HideModal('gameSetupCustom');
		Clvq.w3ShowModal('gameSetupCorrespondence');
	}
</script>
