{{- $page := .page }}
{{- $side := .side }}
<div id="{{ $side }}PawnPromotion" class="w3-modal">
	<div class="w3-modal-content w3-round-large w3-black clvq-bg2 w3-card-4">
		<div class="w3-container">
			<div class="cg-wrap" style="display: grid; grid-template-columns: repeat(8, 50px); grid-template-rows: repeat(1, 50px);">
				<a href="javascript:void(0)" data-piece="q" class="clvq-promotion-piece">
					<piece class="queen {{ $side }}"
						style="grid-column: 1; grid-row: 1; width: 50px; height: 50px;">
					</piece>
				</a>
				<a href="javascript:void(0)" data-piece="r" class="clvq-promotion-piece">
					<piece class="rook {{ $side }}"
						style="grid-column: 2; grid-row: 1; width: 50px; height: 50px;">
					</piece>
				</a>
				<a href="javascript:void(0)" data-piece="n" class="clvq-promotion-piece">
					<piece class="knight {{ $side }}"
						style="grid-column: 3; grid-row: 1; width: 50px; height: 50px;">
					</piece>
				</a>
				<a href="javascript:void(0)" data-piece="b" class="clvq-promotion-piece">
					<piece class="bishop {{ $side }}"
						style="grid-column: 4; grid-row: 1; width: 50px; height: 50px;">
					</piece>
				</a>
			</div>
		</div>
	</div>
</div>
