<div class="game-controls">
	<button id="gameFlipBoard" class="btn" aria-label="Flip board">
		<i class="fas fa-retweet" aria-hidden="true"></i>
	</button>
	<button id="gameNavFirstMove" class="btn" aria-label="First move">
		<i class="fas fa-angle-double-left" aria-hidden="true"></i>
	</button>
	<button id="gameNavBackward" class="btn" aria-label="Previous move">
		<i class="fas fa-angle-left" aria-hidden="true"></i>
	</button>
	<button id="gameNavForward" class="btn" aria-label="Next move">
		<i class="fas fa-angle-right" aria-hidden="true"></i>
	</button>
	<button id="gameNavLastMove" class="btn" aria-label="Last move">
		<i class="fas fa-angle-double-right" aria-hidden="true"></i>
	</button>
</div>
