{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav>
	<div class="w3-bar">
	{{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "hide" "w3-hide-small") }}
	</div>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $hide := .hide }}
  {{- $btnActive := "clvq-bg2" }}
  {{- $btnClass := printf "%s %s" "w3-bar-item w3-button" $hide }}
  {{- $btnClassActive := printf "%s %s %s" $btnClass $btnActive $hide }}
  {{- $btnClassAncestor := printf "%s %s %s" $btnClass $btnActive $hide }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" $btnClassActive "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" $btnClassAncestor "aria-current" "true") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" $btnClass) }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
  {{- end }}
{{- end }}
