{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $menuBtnClass := $page.Site.Params.menuBtnClass }}
{{- $modalContentClass := $page.Site.Params.modalContentClass }}

<!-- Top Navigation Bar -->
<div class="w3-bar">
	<!-- Game Status -->
	<div id="gameStatus" class="w3-bar-item w3-text-lime"></div>

	<!-- Toggle Button -->
	<a class="w3-bar-item {{ $menuBtnClass }} w3-black clvq-bg w3-right"
		href="javascript:void(0)"
		onclick="Clvq.w3ToggleMenu('gameMenu')">&#9776;</a>
</div>
<!-- Dropdown Menu -->
<div id="gameMenu" class="w3-modal" onclick="Clvq.w3HideModal('gameMenu')">
	<div class="{{ $modalContentClass }} w3-center">
		<!-- Game Reset -->
		<a id="gameReset" href="javascript:void(0)"
			class="w3-bar-item {{ $menuBtnClass }}"
			onclick="Clvq.w3ToggleMenu('gameMenu')">
			Reset
		</a>
		{{- with index site.Menus $menuID }}
			{{- partial "inline/menu/walk.html" (dict "page" $page "menuBtnClass" $menuBtnClass "menuEntries" .) }}
		{{- end }}
	</div>
</div>

{{- define "partials/inline/menu/walk.html" }}
	{{- $menuBtnClass := .menuBtnClass }}
	{{- $btnActive := "" }}
	{{- $btnClass := printf "w3-bar-item %s" $menuBtnClass }}
	{{- $btnClassActive := printf "%s %s" $btnClass $btnActive }}
	{{- $btnClassAncestor := printf "%s %s" $btnClass $btnActive }}
	{{- $page := .page }}
	{{- range .menuEntries }}
		{{- $attrs := dict "href" .URL }}
		{{- if $page.IsMenuCurrent .Menu . }}
			{{- $attrs = merge $attrs (dict "class" $btnClassActive "aria-current" "page") }}
		{{- else if $page.HasMenuCurrent .Menu . }}
			{{- $attrs = merge $attrs (dict "class" $btnClassAncestor "aria-current" "true") }}
		{{- else }}
			{{- $attrs = merge $attrs (dict "class" $btnClass) }}
		{{- end }}
		{{- $name := .Name }}
		{{- with .Identifier }}
			{{- with T . }}
				{{- $name = . }}
			{{- end }}
		{{- end }}
			<a
				{{- range $k, $v := $attrs }}
					{{- with $v }}
						{{- printf " %s=%q" $k $v | safeHTMLAttr }}
					{{- end }}
				{{- end -}}
			>{{ $name }}</a>
	{{- end }}
{{- end }}
