.clvq-bg {
	background-color: #1a1a1a !important;
}

.clvq-bg1 {
	background-color: #252525 !important;
}

.clvq-bg2 {
	background-color: #353535 !important;
}

.clvq-menu-icon {
	width: 24px;
	height: 24px;
	background-size: contain;
	object-fit: contain;
}
