.clvq-bg {
/*
	background-color: #272822 !important;
*/
/*
	background-color: #1f1e1d !important;
*/
	background-color: #1a1a1a !important;
}

.clvq-bg1 {
/*
	background-color: #3b3a32 !important;
*/
/*
	background-color: #262624 !important;
*/
	background-color: #252525 !important;
}

.clvq-bg2 {
/*
	background-color: #2b2e2b !important;
*/
/*
	background-color: #2f2f2d !important;
*/
	background-color: #353535 !important;
}
