.game-board {
	position: relative;
	width: 100%;
	max-width: 100vh; /* Maximum size */
	aspect-ratio: 1; /* Keeps it square */
	margin: auto; /* Centers the board */
}

.game-player {
	margin: 0;
	padding: 0;
}

.game-clock {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #3a3a3a;
}

.game-clock.active {
	color: #4caf50;
}
