.game-board {
	position: relative;
	width: 100%;
	max-width: 100vh; /* Maximum size */
	aspect-ratio: 1; /* Keeps it square */
	margin: auto; /* Centers the board */
}

.game-mobile {
	display: block;
}

.game-laptop {
	display: none;
}

@media (min-width: 768px) {
	.game-mobile {
		display: none;
	}
	.game-laptop {
		display: block;
	}
}
