body {
	font-family: sans-serif, monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif, monospace;
}

hr {
	border-color: #616161;
}

@media (max-width: 400px) {
	#systemInfo {
		font-size: 80%;
	}
}
