{{ define "main" }}
	{{- $btnClass := .Site.Params.btnClass }}
	{{ partial "header.html" . }}
	{{ partial "page/main-head.html" . }}
	<div class="w3-container">
		{{ .Content }}
	</div>
	<div class="w3-container w3-padding-large">
		<button class="{{ $btnClass }}" onclick="ClvqDevel.internalError()">
			Internal Error
		</button>
	</div>
	{{ partial "game/game-modals.html" (dict "page" .)}}
	<div class="w3-container w3-padding-large">
		<button class="{{ $btnClass }}"
			onclick="Clvq.w3ShowModal('whitePawnPromotion')">
			Pawn Promotion White
		</button>
		<button class="{{ $btnClass }}"
			onclick="Clvq.w3ShowModal('blackPawnPromotion')">
			Pawn Promotion Black
		</button>
	</div>
	{{ partial "page/main-tail.html" . }}
{{ end }}
